/******** GLOBAL STYLES ********/
html {
    font-size: 16px;
}
body {
    font-family: 'montserrat', helvetica, arial, sans-serif;
    font-size: .9em;
    color: black;    
    display: flex;
    justify-content: center;
    
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    width: 100%;
    font-size: 1.875rem;
    display: flex;
    justify-content: center;
    padding: 36px 0px;
}

h2 {
    font-size: 1.5rem;

}

h3 {
    font-size: 1.25rem;

}

h4 {
    font-size: 0.75rem;

}

p {
    line-height: 36px;

}

.content-wrapper {
    max-width: 1200px;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
}

/******** HEADER STYLES ********/
header {
    /*outline: 3px dotted red; */
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;

}
header h1{
    width: 100%;
}

header body{
    display: flex;
    justify-content: center;
    text-align: center;
}

header h1 span {
    color: #45610E;
}

header nav {
    /*outline: 3px dotted red;*/
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 44px 0px;

}

header nav ul {
    padding: 0;
    text-align: right;

}

header nav ul li {
    width: 100%;
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0px 10px;
}

header nav ul li a {
    text-decoration: none;
    color: #45610E;

}
.top-section .bottom-section{
    display: flex;
    justify-content: center;

}

/********  MAIN STYLES ********/
/******** TOP SECTION ********/
.main-image img {
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 3px solid #77A466;
    border-bottom: 3px solid #77A466;

}

.main-title h2 {
    color: #45610E;
    padding: 5px 0px;

}

/******** BOTTOM SECTION ********/
.bottom-section .content-wrapper {
    border-top: 5px solid #B9B7B7;
    border-bottom: 5px solid #B9B7B7;

}

.section-one,
.section-two,
.section-three {
   /* outline: 3px dotted red; */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 40px;
}

.section-one {
    
    
}

.section-two {
    /***width: 500px;***/
    border-right: 5px solid #B9B7B7;
    border-left: 5px solid #B9B7B7;

}

.section-three {
    /***width: 350px;***/

}

.bottom-section h3 {
    margin: 30px 0px;

}

.menu-list {
    padding-left: 0;
    list-style: none;

}

.menu-list li {
    color: #45610E;
    line-height: 36px;

}

/******** FOOTER STYLES ********/
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8px;

}

footer span {
    font-family: "galada", cursive;
    text-transform: lowercase;
    color: #45610E;
    font-size: 0.875rem;

}